
* {
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 70px 15px 30px 15px;
}

h1 {
    text-align: center;
    font-size: 36px;
    font-weight: 600;
    margin: 20px 0 20px 0;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cards a {
    text-decoration: none;
    background: none;
}

.cards a:hover .card h2{
    text-decoration: underline;
}

/* box card */

.card {
    display: flex;
    flex-direction: column;
    width: 323px;
    margin: 0 0 20px;
    padding: 20px;
    border-radius: 10px;
    background: white;
    border: 1px black solid;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 20%), 0 1px 5px 0 rgb(0 0 0 / 12%);
}

.card .row-card {
    display: flex;
    justify-content: space-between;
}

.card h2 {
    font-size: 24px;
    font-weight: 600;
    margin: 0 0 10px 0;
}

.card p {
    font-size: 18px;
    margin: 0 0 5px 0;
}

.card .box-description {
    text-align: left;
    width: 100%;
    border-top: 1px solid black;
    padding: 5px 0 0 0;
    height: 135px;
    margin: 0 0 10px 0;
}

.card .validate-btn {
    width: 155px;
    height: 30px;
    color: white;
    font-weight: 600;
    font-size: 18px;
    background: #285E92;
    border: 1px solid #285E92;
    box-sizing: border-box;
    border-radius: 6px;
    cursor: pointer;
}


.card .validate-btn:hover {
    background: #164081;
}

.card .refuse-btn {
    width: 155px;
    height: 30px;
    color: white;
    font-weight: 600;
    font-size: 18px;
    background: #DF5C50;
    border: 1px solid #DF5C50;
    box-sizing: border-box;
    border-radius: 6px;
    cursor: pointer;
}

.card .refuse-btn:hover {
    background: #811616;
}

.card .row-card p:nth-child(1) {
    width: 190px;
}
.card .row-card p:nth-child(2) {
    width: 90px;
    text-align: right;
}

@media (min-width: 600px) {

    main {
        margin: 80px 15px 30px 15px;
    }

    .card {
        margin: 10px 10px;
    }

    h1 {
        font-size: 50px;
        margin: 20px 0 60px 0;
    }
}

@media (min-width: 1184px) {

    main {
        margin: 90px 15px 30px 15px;
    }

    .cards {
        width: 1155px;
        justify-content: start;
    }

    h1 {
        font-size: 64px;
        margin: 20px 0 110px 0;
    }
    

    .card .row-card p:nth-child(1) {
        width: 232px;
    }
    .card .row-card p:nth-child(2) {
        width: 100px;
        text-align: right;
    }
}